/*nice lists*/
ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
  position: relative;
}
ol > li:before {
  counter-increment: list;
  content: "(" counter(list) ") ";
  left: -1.4em;
}
ul, ol {
  margin-top: -1rem;
  font-size: 100%;
}

/*no underline in links*/
a {
  text-decoration: none;
}

/*details*/
details > summary {
  cursor: pointer;
  display: list-item;
}
details {
  margin-bottom: 2.5rem;
}